DATABASE_HOST=foxydatabase
DATABASE_USER=username
DATABASE_PASSWORD=password
KEYSTORE_PASSWORD=ifneeded
SECRET_STRING=secretstring
DOMAIN_BASEURL=yourbaseurl
SECRET_STRING_ADMIN=SoSecretString
SECRET_STRING_LOG_ACCESS=SoSecretString