DATABASE_HOST=foxydatabase
DATABASE_USER=username
DATABASE_PASSWORD=password
KEYSTORE_PASSWORD=ifneeded
SECRET_STRING=secretstring
DOMAIN_BASEURL=yourbaseurl
SECRET_STRING_ADMIN=SoSecretString
SECRET_STRING_LOG_ACCESS=SoSecretString
EFBOX_MAIL_USERNAME=api@email.com
EFBOX_MAIL_PASSWORD=apiemailpassword
OWNER_EMAIL=owner@owneremail.com
TEMP_DIRECTORY_FOR_FILE_VALIDATION=name-of-dir-